@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --light-blue: #118191;
  --primary-color: #fbfbfb;
  --secondary-color: #31595e;
}
html {
  font-family: Montserrat;
  font-size: 22px;
  scroll-behavior: smooth;
}
body {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-align: center;
}
header {
  position: sticky;
  top: 0;
  z-index: 999;
}
nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  // align-items: center;
}
li {
  display: inline;
  margin-right: 15px;
  padding-bottom: 4px;
}
li:hover {
  border-bottom: 1px solid var(--secondary-color);
}
li a {
  text-decoration: none;
  color: var(--secondary-color);
}
section {
  height: 100vh;
  padding-top: 60px;
  // background-color:aquamarine;
}
#productos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
#productos h2 {
  margin-bottom: 100px;
}
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
    filter: invert(0.8);
}
footer {
  height: 50px;
}

// Responsive
@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
}